.main {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--border-li);
  width: min(600px, 80vw);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main ul {
  margin-left: 20px;
}