.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  min-height: 100dvh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);

  background-image: url("/mob-doc-4.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main_cont {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.main {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--border-li);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--glass-bg-color);
  margin-bottom: var(--header-height);
  animation: slidesIn 1s ease-in-out forwards;
}

.main h1 {
  font-size: 3rem;
  font-family: var(--font-montserrat);
}

.main p {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  line-height: 1.65;
  /* margin-bottom: ;  */
  /* letter-spacing: 0.2px; */
}

.btn_cont {
  display: flex;
}

.btn_cont button {
  padding: 10px;
  font-size: 16px;
  animation: popIn 1.6s ease-in-out forwards;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  /* .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  } */
}

@media (min-width: 800px) {
  .page {
    background-image: url("/doc5.jpg");
  }
  .main_cont {
    justify-content: space-between;
  }
  .main {
    width: 40dvw;
    border: none;
    gap: 30px;
  }
}

@keyframes slidesIn {
  from {
    transform: translate(-100dvh);
  }
  to {
    transform: translate(0);
  }
}
@keyframes popIn {
  0%,30% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
